@font-face { 
	font-family: Montserrat; 
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face { 
	font-family: Oswald; 
	src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

html{
	height: 100%;
}
body{
	height: 100%;
}

#test{
	height: 1500px;
}
#banner{
	position: fixed;

	background-image: url(../img/banner.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#banner-overlay{
	background-color: rgba(0,0,0,.4);
	font-family: 'Oswald', sans-serif;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#banner-scroll{
	height: 100%;
}
#banner-scroll a{
	width: 100%;
	height: 100%;
	display: block;
}
#banner-overlay p{
	color: white;
	font-size: 60pt;
	margin-top: 15%;
}
#triangles{
	text-align: center;
	color: white;
	pointer-events: all;
}
#tri1{
	-webkit-animation-name: ripple;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: .5s;
	-webkit-animation-iteration-count: infinite;
	font-size: 45px;
}
#tri2{
	-webkit-animation-name: ripple;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: .8s;
	-webkit-animation-iteration-count: infinite;

	font-size: 35px;
}
#tri3{
	-webkit-animation-name: ripple;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1.1s;
	-webkit-animation-iteration-count: infinite;

	font-size: 25px;
}
@-webkit-keyframes ripple{
	0% {opacity: 1;}
	6% {opacity: .5;}
	12% {opacity: 1;}
	100% {opacity: 1;}
}


#steven-fix{
	font-family: 'Oswald', sans-serif;
	position: fixed;
	text-align: left;
	top: 0;
	font-size: 45pt;
	color: white;
	opacity: 0;

}
.content-module{
	width: 100%;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-bottom: -25px;

}

#banner-overlay.fix{
	justify-content: left;
}
#banner-overlay p.fix{
	position: fixed;
}

#about{
	padding-top: 150px;
	background-color: #3498db;
}
.symbol-target {
    padding-top: 10px;
    margin-top: -10px;
    width: 1px; /* '0' will not work for Opera */
    display: inline-block;
}
#projects{
	background-color: #2ecc71;
}
#resume{
	background-color: #e74c3c;
}
.content-module .container h2{
	color: white;
	padding-left: 0;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}
.container.heading{
}
.container.content{
	background-color: white;
	border-radius: 5px;
	padding: 25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.16);
}

.navbar{
	font-size: 20px;
	z-index: 9999;
	position: absolute;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
.navbar.fixed{
	position: fixed;
	top: 0px;
}
.navbar-brand,
.navbar-nav li a{
	line-height: 50px;
	height: 50px
	padding-top: 0;
}
.navbar-brand{
	font-size: 35px;
	margin-right: 50px;
	position: absolute;
}
.navbar-brand.about{
	color: #3498db;
}
.navbar-brand.projects{
	color: #2ecc71;
	-webkit-clip-path: inset(60px 0px 0px 0px);
}
.navbar-brand.resume{
	color: #e74c3c;
	-webkit-clip-path: inset(60px 0px 0px 0px);
}
.navbar-toggle{
	line-height: 50px;
	height: 50px;
}


#headshot{
	height: 250px;
	width: 250px;
	border-radius: 100%;
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.about-me{
	text-align: center;
}
.about-me h3{

}
.about-me ul{
	text-align: left;
	list-style-type: none;
	font-size: 18px;
}
.project{
	background-color: white;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.16);
	margin-bottom: 14px;
	transform: scale(1);
	-webkit-transition: transform 0.1s ease-in;
	font-family: 'Montserrat', sans-serif;
}
.project h3{
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
}
.container.projects{
	padding: 0px;
}
.container.projects .col-xs-4.left{
	padding-left: 0px;
	padding-right: 14px;
}
.container.projects .col-xs-4.middle{
	padding-left: 7px;
	padding-right: 7px;
}
.container.projects .col-xs-4.right{
	padding-left: 14px;
	padding-right: 0px;
}
.project img{
	width: 100%;
}
.project a{	
	padding: 15px;
	border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    -webkit-transition: opacity .1s linear;
}

.project a.in{
	opacity: 1;

}
.project:hover{
	transform: scale(1.1);
}
.project a .badge{
	background-color: white;
	color: black;
}
.next{
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: -28px;
	
}
.next a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	text-shadow: 3px 3px rgba(0,0,0,0.3);
	-webkit-animation-name: pop;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pop{
	0% {opacity: 1;}
	6% {opacity: .5;}
	12% {opacity: 1;}
	100% {opacity: 1;}
}
