@font-face { 
	font-family: Montserrat; 
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face { 
	font-family: Oswald; 
	src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

html{
	height: 100%;
}
body{
	height: 100%;
}
*:focus {outline:0;}

#test{
	height: 1500px;
}
#banner{
	position: fixed;

	background-image: url(../img/banner.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#banner.fixed{
	visibility: hidden;
}

#banner-overlay{
	background-color: rgba(0,0,0,.4);
	font-family: 'Oswald', sans-serif;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#banner-scroll{
	height: 100%;
}
#banner-scroll a{
	width: 100%;
	height: 100%;
	display: block;
}
#banner-overlay p{
	color: white;
	font-size: 60pt;
	margin-top: 15%;
}
#triangles{
	text-align: center;
	color: white;
	pointer-events: all;
}
#tri1{
	-webkit-animation: 	ripple 3s infinite .5s;
	-moz-animation: 	ripple 3s infinite .5s;
	-o-animation: 		ripple 3s infinite .5s;
	animation: 			ripple 3s infinite .5s;

	
	font-size: 45px;
}
#tri2{
	-webkit-animation: 	ripple 3s infinite .8s;
	-moz-animation: 	ripple 3s infinite .8s;
	-o-animation: 		ripple 3s infinite .8s;
	animation: 			ripple 3s infinite .8s;

	font-size: 35px;
}
#tri3{
	-webkit-animation: 	ripple 3s infinite 1.1s;
	-moz-animation: 	ripple 3s infinite 1.1s;
	-o-animation: 		ripple 3s infinite 1.1s;
	animation: 			ripple 3s infinite 1.1s;

	font-size: 25px;
}
@keyframes ripple{
	0% {opacity: 1;}
	6% {opacity: .5;}
	12% {opacity: 1;}
	100% {opacity: 1;}
}
@-webkit-keyframes ripple{
	0% {opacity: 1;}
	6% {opacity: .5;}
	12% {opacity: 1;}
	100% {opacity: 1;}
}
@-moz-keyframes ripple{
	0% {opacity: 1;}
	6% {opacity: .5;}
	12% {opacity: 1;}
	100% {opacity: 1;}
}
@-o-keyframes ripple{
	0% {opacity: 1;}
	6% {opacity: .5;}
	12% {opacity: 1;}
	100% {opacity: 1;}
}

#steven-fix{
	font-family: 'Oswald', sans-serif;
	position: fixed;
	text-align: left;
	top: 0;
	font-size: 45pt;
	color: white;
	opacity: 0;

}
.content-module{
	width: 100%;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-bottom: -25px;

}

#banner-overlay.fix{
	justify-content: left;
}
#banner-overlay p.fix{
	position: fixed;
}

#about{
	padding-top: 125px;
	background-color: #3498db;
}
.symbol-target {
    padding-top: 1px;
    margin-top: -1px;
    width: 1px; /* '0' will not work for Opera */
    display: inline-block;
}
#projects{
	background-color: white;/*#2ecc71;*/
	text-align: center;
}
#resume{
	background-color: #e74c3c;	
	text-align: center;

}
.content-module .container h2{
	color: white;
	padding-left: 0;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}
.container.heading{
}
.container.content{
	background-color: white;
	border-radius: 5px;
	padding: 25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.16);
}

.navbar{
	border-style: none;
	border-radius: 0;
	font-size: 20px;
	z-index: 9999;
	position: absolute;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
.navbar.fixed{
	position: fixed;
	top: 0px;
}
.navbar-brand,
.navbar-nav li a{
	line-height: 50px;
	height: 50px
	padding-top: 0;
}
.navbar-brand{
	font-size: 35px;
	margin-right: 50px;
	position: absolute;
}
.navbar-brand.about{
	color: #3498db;
}
.navbar-brand.projects{
	color: white; /*#2ecc71;*/
	clip: rect(60px, 200px, 200px, 0px);
	clip-path: inset(60px 0px 0px 0px);
	-webkit-clip-path: inset(60px 0px 0px 0px);
}
.navbar-brand.resume{
	color: #e74c3c;
	-webkit-clip-path: inset(60px 0px 0px 0px);
	clip-path: inset(60px 0px 0px 0px);
	clip: rect(60px, 200px, 200px, 0px);
}
.navbar-toggle{
	line-height: 50px;
	height: 50px;
}

#about{
	text-align: center;
}
.content-module .container h2{
	margin-bottom: 20px;
}
@media(max-width: 500px){
	.content-module .container h2 s{
		display: none;
	}
}

.content-module .container h1{
	margin-bottom: 40px;
}
#headshot{
	height: 250px;
	width: 250px;
	border-radius: 100%;

	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	filter: gray;

}
.about-me-cont{
	display: flex;
	justify-content: center;
	align-items: center;
}	
.about-me{
	text-align: left;
}
.about-me ul li b{
	color: #3498db;
}
.about-me ul{
	padding: 30;
	list-style-type: none;
	font-size: 18px;
}
.project{
	background-color: white;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.16);
	margin-bottom: 14px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);



	-webkit-transition: transform 0.1s ease-in;
	-moz-transition: transform 0.1s ease-in;
	-o-transition: transform 0.1s ease-in;
	transition: transform 0.1s ease-in;

	font-family: 'Montserrat', sans-serif;
}
.project h3{
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
}
.container.projects{
	padding: 0px;
}

.container.projects.small{
	display: block;
}
.container.projects.medium{
	display: none;
}
.container.projects.large{
	display: none;
}
@media (min-width: 600px){
	.container.projects.small{
		display: none;
	}
	.container.projects.medium{
		display: block;
	}
	.container.projects.large{
		display: none;
	}
}

@media (min-width: 992px){
	.container.projects.small{
		display: none;
	}
	.container.projects.medium{
		display: none;
	}
	.container.projects.large{
		display: block;
	}
}

.container.projects .col-xs-4.left{
	padding-left: 0px;
	padding-right: 14px;
}
.container.projects .col-xs-4.middle{
	padding-left: 7px;
	padding-right: 7px;
}
.container.projects .col-xs-4.right{
	padding-left: 14px;
	padding-right: 0px;
}
.project img{
	z-index: 1;
	width: 100%;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	filter: gray;

	-webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.project.in img{
	-webkit-filter: blur(1px);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
}
.project button{	
	z-index: 2;
	border-style: none;

	padding: 15px;
	border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);
    opacity: .2;

    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
}

.project.in button{
	opacity: 1;
}

.project button h3, .project button p, .project button span{
	-webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
	opacity: 0;
}
.project.in button h3, .project.in button p, .project.in button span{
	opacity: 1;
}

.project:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);

}
.project button .badge{
	background-color: white;
	color: black;
}
.next{
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: -15px;
	z-index: 1;
	-webkit-animation: 	pop 3s infinite 1s;
	-moz-animation: 		pop 3s infinite 1s;
	-o-animation: 			pop 3s infinite 1s;
	animation: 			pop 3s infinite 1s;
}
.next a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	text-shadow: 3px 3px rgba(0,0,0,0.3);

}

@keyframes pop{
	0% {margin-top: -15px;}
	12% {margin-top: -5px;}
	24% {margin-top: -15px;}
	36% {margin-top: -5px;}
	48% {margin-top: -15px;}
	100% {margin-top: -15px;}
}
@-webkit-keyframes pop{
	0% {margin-top: -15px;}
	12% {margin-top: -5px;}
	24% {margin-top: -15px;}
	36% {margin-top: -5px;}
	48% {margin-top: -15px;}
	100% {margin-top: -15px;}
}
@-moz-keyframes pop{
	0% {margin-top: -15px;}
	12% {margin-top: -5px;}
	24% {margin-top: -15px;}
	36% {margin-top: -5px;}
	48% {margin-top: -15px;}
	100% {margin-top: -15px;}
}
@-o-keyframes pop{
	0% {margin-top: -15px;}
	12% {margin-top: -5px;}
	24% {margin-top: -15px;}
	36% {margin-top: -5px;}
	48% {margin-top: -15px;}
	100% {margin-top: -15px;}
}

.skew{
	-ms-transform: skewY(18deg);
    -moz-transform: skewY(18deg);
    -webkit-transform: skewY(18deg);
    -o-transform: skewY(18deg);
    transform: skewY(18deg);
}
.skew-rev{
	-ms-transform: skewY(-18deg);
    -moz-transform: skewY(-18deg);
    -webkit-transform: skewY(-18deg);
    -o-transform: skewY(-18deg);
    transform: skewY(-18deg);
}
.skew-wrap-about{
	overflow-y: hidden;
	background-color: white;
}
.skew-wrap-resume{
	background-color: white;
}
#about-wrap{
	position: relative;
}
#about-bck{
	height: 100%;
	width: 50%;
	position: absolute;
	background-color: #3498db;
	margin-left: 50%;
}
#projects-bck{
	height: 100%;
	width: 50%;
	position: absolute;
	background-color: white; /*#2ecc71;*/
}