@font-face{
	font-family: bebas;
	src: url('BebasNeue Bold.ttf');
}

body{
	background-color: #ccc;
}
nav.navbar {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	min-height: 70px;
	font-size: 18pt;
	margin-bottom: 0;
}

nav.navbar.shrink {
  min-height: 40px;
  font-size: 12pt;

}

.container{
	max-width: 1080px;
	background-color: #fff;
	margin-top: 30px;
}

#nav-container{
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding-top: 10px;
	max-width: 1080px;
}
#nav-container.shrink{
	padding-top: 0px;
}

.navbar-brand {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 18pt;
}
.navbar-brand.shrink{
	font-size: 12pt;
}
.logo-cont{
	width: 24%;
	display: inline-block;

}
.logo{
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	width: 100%;
	opacity: 0;
}

.logo-cont.scrolled .logo{
	opacity: 1;
}

.gpa{
  display: flex;
}
.gpa h3 {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: bebas;
}

.img-thumb{
	width: 100%
}
.banner{
	margin-top: 30px;
}

.blackbox{
	background-color: rgba(0, 0, 0, 0.55);
	padding:5%;
	margin: 3%;
	color: white;
	font-size: 14pt;
}

.member{
	background-color: white;
	box-shadow: 5px 5px 15px black;
	padding: 10px;
	display: table-cell;
}
.member-pic{
	margin: 15px;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	overflow: hidden;
}