@font-face{
	font-family: bebas;
	src: url('BebasNeueBold.ttf');
}

body{
	background-color: #ccc;
}
nav.navbar {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	min-height: 70px;
	font-size: 18pt;
	margin-bottom: 0;
}

nav.navbar.shrink {
  

}
@media (max-width: 880px){
	.no-mobile{
		display: none;
	}
}
@media (max-width: 420px){
	.no-cell{
		display: none!important;
	}
}

.accordion{
	display: none;
}
.accordion-mobile{
	display: block;
}
.container{
	max-width: 1080px;
	width: 100%;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
}
@media (min-width: 995px){
	.accordion{
		display: block;
	}
	.accordion-mobile{
		display: none;
	}
	.container{
		min-width: 995px;
	}
}

.banner{
	display: block;
	overflow: hidden;
}
.banner img{
	width: 100%;
}

#nav-container{
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding-top: 10px;
	max-width: 1080px;
}
#nav-container.shrink{
	
}

.navbar-brand {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 18pt;
}
.navbar-brand.shrink{
	
}
.logo-cont{
	width: 24%;
	display: inline-block;

}
.logo{
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	width: 100%;
	opacity: 0;
}

.logo-cont.scrolled .logo{
	opacity: 1;
}

.gpa{
  display: flex;
}
.gpa h3 {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: bebas;
}

.img-thumb{
	width: 100%
}
.banner{
	margin-top: 30px;
}

.blackbox{
	background-color: rgba(0, 0, 0, 0.55);
	padding:5%;
	margin: 3%;
	color: white;
	font-size: 14pt;
}

.member{
	background-color: white;
	box-shadow: 5px 5px 15px black;
	padding: 10px;
	display: table-cell;
}
.member-pic{
	margin: 15px;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	overflow: hidden;
}
@media screen and (max-width: 1080px){

	
	.member{
		display: inline-block;
	}
}
.member-center{
	text-align: center;
	display: block;
}
.member-pic-center{
	height: 250px;
	width: 250px;
	text-align: center;
	display: inline-block;
}
.unselect { 
	pointer-events: none;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.footer {
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	font-size: 12px;
	color: white;
	padding: 10px 40px 10px 40px;
	vertical-align: center;
}
.footer-content{
	margin-top: 9px;
	float:right;
}

@media(max-width: 768px){
	.footer .row .left{
		text-align: center;
	}
}

.donut-holder{

	width: 500px;
	height: 400px;
	margin: -50px;
	margin-top: -25px;
}

.fix-main{
	position: fixed;
}