$font-title: "Oswald", sans-serif;
$font-sub: "Montserrat", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}

#main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 220, 220);
}

#container {
  transition: perspective 0.5s;
  -webkit-transition: perspective 0.5s;
  -moz-transition: perspective 0.5s;
  -o-transition: perspective 0.5s;
  perspective: 700px;
  .dragging {
    perspective: 1000px;
    h1,
    h2,
    li {
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -o-user-select: none;
      -moz-user-select: none;
    }
  }
  cursor: pointer;
}

#card {
  width: 600px;
  height: 400px;
  background: white;
  border-width: 5px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);

  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;

  display: flex;

  .left {
    font-family: $font-sub;
    padding: 20px;
    width: 50%;
    color: white;
    background: #38618c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    h1 {
      margin: 5px;
      font-size: 40px;
      text-transform: uppercase;

      font-family: $font-title;
    }
    h2 {
      margin: 0px;
      text-transform: uppercase;
      font-variant: small-caps;
      font-weight: 100;
      font-family: $font-title;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
  }
}
